


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
  font-family: 'Poppins', sans-serif;
}
.carousel-container {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-slide img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.arrow-prev,
.arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.arrow-prev {
  left: 16px;
}

.arrow-next {
  right: 16px;
}
.nav-item {
  transition: background-color 0.3s ease;
}

.nav-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  color: #555555;
}

.nav-item.active button {
  font-weight: bold;
  color: #C1CFDA; /* Active color from your palette */
}

.nav-item:hover button {
  color: #20A4F3; /* Hover color from your palette */
}

nav {
  background-color: #59F8E8; /* Background color from your palette */
}
.popular-card {
  border: 1px solid #C1CFDA; /* Border color from your palette */
  border-radius: 0.375rem;
  padding: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.popular-card:hover {
   /* Hover background color from your palette */
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popular-card h3 {
  font-weight: bold;
  color: #941C2F; /* Title color from your palette */
}

.popular-card p.text-gray-600 {
  color: #03191E; /* Content color from your palette */
}

.popular-card p.text-gray-400 {
  color: #555555; /* Read more color from the original color palette */
}


.menu-heading {
  color: #941C2F;
}



.menu-option-dishes {
  color: #20A4F3;
}

.menu-option-sides {
  color: #59F8E8;
}

.menu-option-salads {
  color: #C1CFDA;
}

.menu-option-desserts {
  color: #03191E;
}

.menu-item-heading {
  color: #941C2F;
}
.menu-nav {
  background-color: #C1CFDA;
}

.restaurant-name {
  text-align: center;
}

.horizontal-line {
  border: none;
  border-top: 1px solid #555555;
  margin: 10px 0;
}

.booking-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-item {
  display: flex;
  align-items: center;
}

.booking-icon {
  font-size: 2rem;
  margin-right: 5px;
  color: #941C2F;
}

.booking-text {
  color: #941C2F;
}




fieldset {
  display: flex;
  width: 480px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
}

sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

input,
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 32px;
  padding: 0 8px;
}

.Field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.FieldError {
  position: absolute;
  bottom: -6px;
  color: red;
  font-size: 12px;
}

.Row {
  display: flex;
  flex-direction: row;
}

button {
  padding: 12px;
  width: 240px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: darkblue;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@keyframes animate-pulse-vibration {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.smaller-placeholder::placeholder {
  font-size: 0.75rem; /* Adjust the value as needed */
}
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
  backdrop-filter: blur(4px); /* Apply the blur effect */
  z-index: 9999; /* Ensure the overlay is on top of other components */
}
